<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1>Sobre</h1>
		<p>Estudamos em cafeterias e cultuamos Satanás, since 06/2016. </p>
		<p>Estou mais maleável para as situações, estou mais forte, consciente,  mais madura. Não choro por mesmices. Estou mais responsável e mais racional com os sentimentos. Minhas lembranças eu as controlo, como alguém controla seu cão, mas nunca as esqueci, sempre ficarão no meu coração. Deixei os outros, me concentro no eu e no meu futuro, pois querendo ou não a gente cresce e crescendo nos tornamos adultos, sei que é difícil e muitos problemas virão, mas com a idade, vem a responsabilidade, a curtição fica pros finais de semana é assim que é a vida, não crie grandes expectativas.
		</p>
	</div>
</div>