<div class="container-fluid">
	<div class="row">
		<div class="img-responsive profile">
			<%= image_tag "profile.jpg" %>
		</div>
		<div class="content">
			<h1>Sobre</h1>
			<p>Estudamos em cafeterias e cultuamos Satanás, since 06/2016. </p>
			<p>Formar um profissional diferenciado capaz de atuar na concepção e no desenvolvimento de um sistema em ambiente web, como por exemplo um e-commerce, compreendendo todas as etapas envolvidas no processo de criação. Atuar tanto na parte de interface, usabilidade e layout de um sistema (frontend) quanto na programação dos componentes envolvidos e do banco de dados (backend).
			</p>
		</div>
	</div>
</div>