<p>Olá <%= @resource.email %>!</p>

<p>Algúem pediu para alterar a sua senha. Você pode fazer isso clicando no link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu isso, desconsidere esse email.</p>
<p>Sua senha não mudará com envio deste email, apenas clicando no link para fazer a alteração. </p>
